<html>

  <head> 
    <title>Aula de node JS</title>
  </head>

  <body>
        <form method="get" action="/sub">
		<h1>método Get</h1>
		
			Valor 1:<input id="valor1" type="number" placeholder="Digite o valor 1" name="valor1"> <br/>
			Valor 2:<input id="numer2" type="number" placeholder="Digite o Valor 2"   name="valor2"> <br/>
			


			<input type="submit"  name="submit" value="Resultado"> 
		
		
		    </form>



          <form method="post" action="/sub">
		
    <h1>método post</h1>
		
				Valor 1:<input id="numer1" type="number" name="valor1" placeholder="Digite o primeiro número"> <br/>
			Valor 2:<input id="numer2" type="number" name="valor2" placeholder="Digite o segundo número" > <br/>
			


			<input type="submit"  name="submit" value="Resultado"> 
			
		    </form>

  </body>
</html>