<html>

  <head> 
    <title>Aula de node JS</title>
  </head>

  <body>
        <form method="get" action="/operacao">
		<h1>Subtração com método Get</h1>
		
			Número 1:<input id="numer1" type="number" name="numero1" placeholder="Digite o primeiro número"> <br/>
			Número 2:<input id="numer2" type="number" name="numero2" placeholder="Digite o segundo número" > <br/>
			


			<input type="submit"  name="submit" value="Resultado"> 
			<input type="reset" name="reset"> <br/>
		
		    </form>



          <form method="post" action="/operacao">
		
    <h1>Soma com método post</h1>
		
			Número 1:<input id="numer1" type="number" name="numer1" placeholder="Digite o primeiro número"> <br/>
			Número 2:<input id="numer2" type="number" name="numer2" placeholder="Digite o segundo número" > <br/>
			


			<input type="submit"  name="submit" value="Resultado"> 
			<input type="reset" name="reset"> <br/>
		
		    </form>

<h1>
  Seja bem vindo a aula de nodeJs
</h1>

  </body>
</html>
